.modalHeader {
  margin-left: 35%;
  color: #050505;
  font-weight: bold;
  font-size: 20px;
}

.aroundAllAudienceOption {
  /* border: 1px solid black; */
  width: 100%;
}
.audienceOptionBox {
  display: flex;
  padding: 0px 8px;
  width: 100%;
  /* border: 1px solid black; */
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  transition: all 50ms;
}

.audienceOptionBox:hover {
  background-color: #d9dfdb;
}
.audienceOptionBox:active {
  filter: brightness(91%);

  transition: all, 50ms;
}

.activeBox {
  background-color: #e7f3ff;
}

.aroundAudienceIcon {
  margin: 8px 12px 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #e4e6eb;
  border-radius: 50%;
}
.audienceOptionStringAndRadio {
  width: 85%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.audienceOptionString {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px 0px;
}

.stringOne {
  color: #050505;
  font-size: 17px;
  font-weight: 500;
}
.stringTwo {
  color: #65676b;
  font-size: 15px;
}
